{% extends 'review/base.html' %}
{% block content %}

{% load static %}
{% load compress %}
{% compress css %}
    <link type="text/x-scss" href="{% static 'style/review/follow.scss' %}" rel="stylesheet" media="screen">
{% endcompress %}


<div class="content">
    <div class="container">
        <h2>Suivre d'autres utilisateurs</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.user }}
            <button type="submit">Suivre</button>
        </form>
        {{ error_message }}
    </div>

    <div class="container">
        <h2>Abonnements</h2>
        {% for user in followed %}
            <p class="follow-user">
                <span class="user-name"> {{user.username}} </span>
                <a href="{% url 'unfollow' user.id %}" class="btn btn-danger">Se désabonner</a>
            </p>
            {% endfor %}
        </div>
        
        <div class="container">
            <h2>Abonnés</h2>
            {% for user in following %}
            <p class="follow-user">
                <span class="user-name"> {{user.username}} </span>
            </p>
        {% endfor %}
    </div>
</div>

{% endblock %}
