<div class="post">
    <p class="date">
        {{ post.time_created|date:"h:m, l d M Y" }}
    </p>
    <p class="user">
        {{ post.user }} a demandé une critique
    </p>
    <h3> {{ post.title }} </h3>
    <p class="description">
        {{ post.description }}
    </p>
    {% if post.image %}
    <img src="{{ post.image.url }}" alt="Image du ticket" class="image">
    {% endif %}

    {% if editable == True %}
    <div class="post-button">
        <a class="btn btn-primary my-button" href="{% url 'edit_ticket' post.id %}">Modifier</a>
        <a class="btn btn-danger my-button" href="{% url 'delete_ticket' post.id %}">Supprimer</a>
    </div>
    {% endif %}
    {%  if answerable == True and not post.answered == True %}
    <div class="answer-button">
        <a class="btn btn-primary my-button" href="{% url 'review' post.id %}">Créer une critique</a>
    </div>
    {% endif %}
</div>
