{% extends 'review/base.html' %}
{% block content %}

{% load static %}
{% load compress %}
{% compress css %}
<link type="text/x-scss" href="{% static 'style/review/signup.scss' %}" rel="stylesheet" media="screen">
{% endcompress %}

<div class="content">
  <h2>Inscrivez-vous</h2>
  <div class="container">
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <p>
          {{ field.errors }}
          <span class="label"> {{ field.label }} </span>
          {{ field }}
        </p>
      {% endfor %}
      <div class="post-button">
        <a href="{% url 'login' %}" class="btn btn-secondary my-button">Retour</a>
        <button type="submit" class="btn btn-primary my-button">S'inscrire</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
